@tailwind base;
@tailwind components;
@tailwind utilities;

input,
input:before,
input:after {
  -webkit-user-select: initial;
  -khtml-user-select: initial;
  -moz-user-select: initial;
  -ms-user-select: initial;
  user-select: initial;
}
*,
*:before,
*:after {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

.menu-options {
  pointer-events: none;
  /* other styles for the parent div */
}
.navigator {
  pointer-events: auto;
  /* other styles for the child div */
}

.cart-sidebar {
  pointer-events: none;
  /* other styles for the parent div */
}

.cart-tab {
  pointer-events: auto;
  /* other styles for the child div */
}

.cart {
  pointer-events: auto;
}

input:focus {
  outline: none;
}

/* BIASI ANIMATIONS */
.animate-up {
  transform: translateY(0);
}
.animate-down {
  transform: translateY(-150%);
}
.animate-down-active {
  transform: translatey(0);
  transition: transform 1.5s ease-out;
}
.animate-enter-right {
  transform: translateX(100%);
}
.animate-enter-right-active {
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}
.animate-enter-left {
  transform: translateX(-100%);
}
.animate-enter-left-active {
  transform: translateX(0);
  transition: transform 0.5s ease-out;
}
.animate-squares {
  transform: translateY(1%);
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.7s;
  opacity: 1;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.bounce {
  animation: bounce 0.5s infinite alternate;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
.shake {
  animation: shake 0.5s ease infinite;
}
/* @keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(-3deg);
  }
  40% {
    transform: rotate(3deg);
  }
  60% {
    transform: rotate(-3deg);
  }
  80% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0);
  }
} */
@keyframes shake {
  /* 0% {
    transform: rotate(0deg);
  }
  35% {
    transform: rotate(-3deg);
  }
  70% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0);
  } */
}

/* CUSTOM FONTS */
/* latino-gothic-variable */
@layer utilities {
  .chavos-xs {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    line-height: 0.8125rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 30,
      "slnt" 1;
  }
  .chavos-sm {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    line-height: 0.9375rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 30,
      "slnt" 1;
  }
  .chavos-base {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.125rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 30,
      "slnt" 1;
  }
  .chavos-lg {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    line-height: 1.1875rem;
    letter-spacing: -0.03375rem;
    font-variation-settings:
      "wght" 40,
      "wdth" 70,
      "slnt" 1;
  }
  .chavos-xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    line-height: 1.375rem;
    letter-spacing: -0.0375rem;
    font-variation-settings:
      "wght" 40,
      "wdth" 70,
      "slnt" 1;
  }
  .chavos-2xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.375rem; /* 91.667% */
    letter-spacing: -0.03rem;
    font-variation-settings:
      "wght" 35,
      "wdth" 70,
      "slnt" 1;
  }
  .chavos-3xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    line-height: 2.1875rem; /* 116.667% */
    letter-spacing: -0.05625rem;
    font-variation-settings:
      "wght" 40,
      "wdth" 70,
      "slnt" 1;
  }
  .chavos-4xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    line-height: 2.3125rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 40,
      "slnt" 1;
  }
  .chavos-5xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 3rem;
    font-style: normal;
    line-height: 3.5rem; /* 116.667% */
    letter-spacing: -0.06rem;
    font-variation-settings:
      "wght" 30,
      "wdth" 70,
      "slnt" 1;
  }
  .chavos-6xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 3.75rem;
    font-style: normal;
    line-height: 4.375rem; /* 116.667% */
    letter-spacing: -0.1125rem;
    font-variation-settings:
      "wght" 20,
      "wdth" 70,
      "slnt" 1;
  }
  .chavos-7xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 5rem;
    font-style: normal;
    line-height: 5.875rem; /* 117.5% */
    font-variation-settings:
      "wdth" 70,
      "wght" 20,
      "slnt" 1;
  }

  /* italic | latino-gothic-variable */
  .vianney-italic-xs {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    line-height: 0.8125rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 30,
      "slnt" 1;
  }
  .vianney-italic-sm {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 0.875rem;
    font-style: italic;
    line-height: 0.9375rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 30,
      "slnt" 1;
  }
  .vianney-italic-base {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1rem;
    font-style: italic;
    line-height: 1.125rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 30,
      "slnt" 1;
  }
  .vianney-italic-lg {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.1875rem;
    letter-spacing: -0.03375rem;
    font-variation-settings:
      "wght" 40,
      "wdth" 70,
      "slnt" 1;
  }
  .vianney-italic-xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.25rem;
    font-style: italic;
    line-height: 1.375rem;
    letter-spacing: -0.0375rem;
    font-variation-settings:
      "wght" 40,
      "wdth" 70,
      "slnt" 1;
  }
  .vianney-italic-2xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 1.375rem; /* 91.667% */
    letter-spacing: -0.03rem;
    font-variation-settings:
      "wght" 35,
      "wdth" 70,
      "slnt" 1;
  }
  .vianney-italic-3xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.875rem;
    font-style: italic;
    line-height: 2.1875rem; /* 116.667% */
    letter-spacing: -0.05625rem;
    font-variation-settings:
      "wght" 40,
      "wdth" 70,
      "slnt" 1;
  }
  .vianney-italic-4xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.3125rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 40,
      "slnt" 1;
  }
  .vianney-italic-5xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 3rem;
    font-style: italic;
    line-height: 3.5rem; /* 116.667% */
    letter-spacing: -0.06rem;
    font-variation-settings:
      "wght" 30,
      "wdth" 70,
      "slnt" 1;
  }
  .vianney-italic-6xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 3.75rem;
    font-style: italic;
    line-height: 4.375rem; /* 116.667% */
    letter-spacing: -0.1125rem;
    font-variation-settings:
      "wght" 20,
      "wdth" 70,
      "slnt" 1;
  }
  .vianney-italic-7xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 5rem;
    font-style: italic;
    line-height: 5.875rem; /* 117.5% */
    font-variation-settings:
      "wdth" 70,
      "wght" 20,
      "slnt" 1;
  }

  /* bold | latino-gothic-variable */
  .chavos-bold-xs {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    line-height: 0.8125rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 60,
      "slnt" 1;
  }
  .chavos-bold-sm {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 0.875rem;
    font-style: normal;
    line-height: 0.9375rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 60,
      "slnt" 1;
  }
  .chavos-bold-base {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.125rem;
    font-variation-settings:
      "wdth" 60,
      "wght" 70,
      "slnt" 1;
  }
  .chavos-bold-lg {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    line-height: 1.1875rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 60,
      "slnt" 1;
  }
  .chavos-bold-xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.25rem;
    font-style: normal;
    line-height: 1.125rem; /* 90% */
    letter-spacing: -0.025rem;
    font-variation-settings:
      "wght" 60,
      "wdth" 70,
      "slnt" 1;
  }
  .chavos-bold-2xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.5rem;
    font-style: normal;
    line-height: 1.125rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 60,
      "slnt" 1;
  }
  .chavos-bold-3xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 1.875rem;
    font-style: normal;
    line-height: 1.875rem; /* 100% */
    letter-spacing: -0.05625rem;
    font-variation-settings:
      "wght" 60,
      "wdth" 70,
      "slnt" 1;
  }
  .chavos-bold-4xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 2.25rem;
    font-style: normal;
    line-height: 2.3125rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 60,
      "slnt" 1;
  }
  .chavos-bold-5xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 3rem;
    font-style: normal;
    line-height: 3.5rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 60,
      "slnt" 1;
  }
  .chavos-bold-6xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 3.75rem;
    font-style: normal;
    line-height: 4.375rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 60,
      "slnt" 1;
  }
  .chavos-bold-7xl {
    font-family: "latino-gothic-variable", sans-serif;
    font-size: 5rem;
    font-style: normal;
    line-height: 5.875rem;
    font-variation-settings:
      "wdth" 70,
      "wght" 53,
      "slnt" 1;
  }
}

/* INCOMPLETE BORDERS (CORNERS) */
.corner-t,
.corner-b,
.corner-l,
.corner-r {
  padding: 0.25rem;
  position: relative;
}
.corner-t:before,
.corner-b:before,
.corner-l:before,
.corner-r:before,
.corner-t:after,
.corner-b:after,
.corner-l:after,
.corner-r:after {
  content: "";
  border: 1px solid transparent;
  position: absolute;
}

/* top line */
.corner-t:before {
  left: 5px;
  right: 5px;
  top: 0;
  bottom: 0;
  border-top-color: black;
}
.corner-t:after {
  top: 5px;
  bottom: 5px;
  left: 0;
  right: 0;
}

/* bottom line */
.corner-b:before {
  left: 5px;
  right: 5px;
  top: 0;
  bottom: 0;
  border-bottom-color: black;
}
.corner-b:after {
  top: 5px;
  bottom: 5px;
  left: 0;
  right: 0;
}

/* left line */
.corner-l:before {
  left: 5px;
  right: 5px;
  top: 0;
  bottom: 0;
}
.corner-l:after {
  top: 5px;
  bottom: 5px;
  left: 0;
  right: 0;
  border-left-color: black;
}

/* right line */
.corner-r:before {
  left: 5px;
  right: 5px;
  top: 0;
  bottom: 0;
}
.corner-r:after {
  top: 5px;
  bottom: 5px;
  left: 0;
  right: 0;
  border-right-color: black;
}
